<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension point="com.change_vision.astah.ui.view">
      <view
              id="com.change_vision.astah.plugins.view.PlantUMLView"
              type="extraTab"
              class="com.change_vision.astah.plugins.view.PlantUMLView"/>
   </extension>
</plugin>
